<div class="face-snap-card"
[ngClass]="{
snapped : userHasSnapped
}">
  <h2>{{ faceSnap.title | uppercase }}</h2>
  <a routerLink="/facesnaps">BACK</a>
  <p>
    @if (faceSnap.location) {
      Localisation : {{faceSnap.location}}
    } @else {
      Localisation non spécifiée
    }
  </p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
  <p>{{ faceSnap.description }}</p>
  <p>FaceSnap créée le {{ faceSnap.createdAt | date: 'd MMMM yyyy, à HH:mm'  }}</p>
  <p>
    <button (click)="onAddSnap()">
      {{ snapButtonText }}
    </button>
    🤌 <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">{{ faceSnap.snaps }}</span>
  </p>
</div>
